.card {
    position: relative;
}

.card-image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 ratio */
    overflow: hidden;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .card {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .card {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .card {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 1140px;
    }
}

.card-trainer {
    position: relative;
    height: 500px; /* Example height */
}

.card-trainer .card-image-container {
    position: relative;
    width: 100%;
    padding-top: 112.5%;
    overflow: hidden;
}

.card-trainer .card-body {
    position: absolute;
    bottom: 0;
    right: 0;
}

.button-group {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px; /* 버튼과 트레이너 라벨 간의 간격 */
}

.button-group button {
    border-radius: 25%;
    margin-right: 10px;
    padding: 10px 20px;
}

.trainer-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.prize-history-label {
    margin-bottom: 10px; /* 트레이너 이력과 map() 내용 간의 간격 늘리기 */
    display: block;
    margin-top: 20px;
    text-align: left;  /* 왼쪽으로 붙이기 */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px; /* 원하는 패딩 값으로 조절 */
    margin-bottom: 0; /* 추가 */
}

.modal-header {
    text-align: right;
    padding: 10px; /* 원하는 패딩 값으로 조절 */
    padding-top: 5px; /* 추가 */

}

/* trainer-info 스타일 추가 */
.trainer-info {
    width: 100%; /* 꽉 차게 설정 */
    border: 1px solid black;
    border-radius: 5px; /* 끝 부분을 둥글게 */
    padding: 10px; /* 테두리와 내용 사이의 간격 */
}

.button-container-notification button {
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    margin-right: 0.7%;
    padding: 1% 2.2%;
    font-size: 1.1vw;
    cursor: pointer;
    width: 13%;
    transition: background-color 0.3s ease-in-out;
}

.reservationComplete {
    background-color: #007bff;
}

.reservationCancel {
    background-color: #ff0000;
}
